<!DOCTYPE html>
<html lang="en">

<%- include('../includes/head.js') %>
</head>

<body>
    <%- include('../includes/navigation.js') %>
    </header>

    <main>
        <form class="product-form" action="/admin/edit-product" method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" value="<%= product.title %>">
            </div>
            <div class="form-control">
                <label for="imageUrl">Image url</label>
                <input type="text" name="image" id="image" value="<%= product.image %>">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea type="text" name="description" id="description" value="<%= product.description %>"></textarea>
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input type="number" name="price" id="price" value="<%= product.price %>">
            </div>

            <button class="btn" type="submit">Edit product</button>
            <input type="hidden" value="<%= product._id %>" name="productId">
        </form>
    </main>
    <script src="/js/main.js"></script>
</body>

</html>